<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [ ]:
!pip install pandas
!pip install matplotlib

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [1]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [7]:
# Write your code here
# Summary of dataset including data types and missing values
summary = pd.DataFrame({
    'Data Type': df.dtypes, # '.dtypes' Display the datatypes of columns
    'Non-Null Count': df.count(), # ".count()"": it counts the not null values in each column of dataframe
    'Missing Values': df.isnull().sum() # ".isnull()"": it returns whether the value in column is null or not(returns true for null value) and then ".sum() returns the count of null values"
})

print(summary)

                    Data Type  Non-Null Count  Missing Values
ResponseId              int64           65437               0
MainBranch             object           65437               0
Age                    object           65437               0
Employment             object           65437               0
RemoteWork             object           54806           10631
...                       ...             ...             ...
JobSatPoints_11       float64           29445           35992
SurveyLength           object           56182            9255
SurveyEase             object           56238            9199
ConvertedCompYearly   float64           23435           42002
JobSat                float64           29126           36311

[114 rows x 3 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [8]:
# Write your code here
print(df.describe())

         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [ ]:
# Write your code here
print("Unique Values in column Country:\n",df["Country"].unique())
print("Value counts of column Countries:\n",df["Country"].value_counts())

Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Micronesia, Federated States of...                          1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64

In [32]:
print("Unique Values in column Country:\n",df["EdLevel"].unique())
print("Value counts of column Countries:\n",df["EdLevel"].value_counts())

Unique Values in column Country:
 ['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]
Value counts of column Countries:
 EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          24942
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       15557
Some college/university study without earning a degree                                 7651
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5793
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         2970
Associate degree (A.A., A.S., etc.)                                                    1793
Primary/elementary school                                                              1146
Something else                                                                          932
Name: count, dtype: int64

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [33]:
## Write your code here
# Dictionary to correct and standardize country names
country_mapping = {
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "Russian Federation": "Russia",
    "Viet Nam": "Vietnam",
    "Iran, Islamic Republic of...": "Iran",
    "Republic of Korea": "South Korea",
    "Democratic People's Republic of Korea": "North Korea",
    "Congo, Republic of the...": "Republic of the Congo",
    "Democratic Republic of the Congo": "DR Congo",
    "Venezuela, Bolivarian Republic of...": "Venezuela",
    "Libyan Arab Jamahiriya": "Libya",
    "Lao People's Democratic Republic": "Laos",
    "Brunei Darussalam": "Brunei",
    "Micronesia, Federated States of...": "Micronesia",
    "Côte d'Ivoire": "Ivory Coast",
    "Hong Kong (S.A.R.)": "Hong Kong"
}

# Apply corrections
df["Country"] = df["Country"].replace(country_mapping)

# Print CLeaned country column
print(df["Country"].value_counts())

Country
United States      11095
Germany             4947
India               4231
United Kingdom      3224
Ukraine             2672
                   ...
Micronesia             1
Nauru                  1
Chad                   1
Djibouti               1
Solomon Islands        1
Name: count, Length: 183, dtype: int64

In [34]:
# Dictionary to correct and standardize EdLevel column
edLevel_mapping = {
    "Bachelor’s degree (B.A., B.S., B.Eng., etc.)": "Bachelor’s Degree",
    "Master’s degree (M.A., M.S., M.Eng., MBA, etc.)": "Master’s Degree",
    "Some college/university study without earning a degree": "Some Higher Education",
    "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)": "High School Diploma",
    "Professional degree (JD, MD, Ph.D, Ed.D, etc.)": "Doctorate or Professional Degree",
    "Associate degree (A.A., A.S., etc.)": "Associate Degree",
    "Primary/elementary school": "Primary School",
    "Something else": "Other Education"
}

# Apply the mapping
df["EdLevel"] = df["EdLevel"].replace(edLevel_mapping)

# Print cleaned column
print(df["EdLevel"].value_counts())

EdLevel
Bachelor’s Degree                   24942
Master’s Degree                     15557
Some Higher Education                7651
High School Diploma                  5793
Doctorate or Professional Degree     2970
Associate Degree                     1793
Primary School                       1146
Other Education                       932
Name: count, dtype: int64

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [67]:
## Write your code here
# check the unique values of "Employment" Column
print(df["Employment"].unique())

['Employed, full-time' 'Student, full-time'
 'Student, full-time;Not employed, but looking for work'
 'Independent contractor, freelancer, or self-employed'
 'Not employed, and not looking for work'
 'Employed, full-time;Student, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed'
 'Employed, full-time;Student, full-time' 'Employed, part-time'
 'Student, full-time;Employed, part-time'
 'Student, part-time;Employed, part-time' 'I prefer not to say'
 'Not employed, but looking for work' 'Student, part-time'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time'
 'Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed'
 'Student, full-time;Independent contractor, freelancer, or self-employed'
 'Employed, full-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed'
 'Student, full-time;Not employed, and not looking for work' 'Retired'
 'Independent contractor, freelancer, or self-employed;Student, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time'
 'Not employed, but looking for work;Student, part-time'
 'Not employed, but looking for work;Not employed, and not looking for work'
 'Independent contractor, freelancer, or self-employed;Retired'
 'Not employed, but looking for work;Student, part-time;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Not employed, and not looking for work'
 'Employed, full-time;Not employed, but looking for work'
 'Student, full-time;Not employed, and not looking for work;Student, part-time'
 'Employed, full-time;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Not employed, but looking for work;Employed, part-time'
 'Employed, full-time;Student, full-time;Employed, part-time'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Not employed, and not looking for work;Student, part-time'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Student, full-time;Student, part-time'
 'Student, full-time;Not employed, but looking for work;Student, part-time'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed'
 'Employed, full-time;Student, full-time;Student, part-time'
 'Not employed, but looking for work;Retired'
 'Employed, full-time;Student, full-time;Not employed, but looking for work'
 'Not employed, and not looking for work;Retired'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired'
 'Employed, full-time;Not employed, but looking for work;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time;Retired'
 'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time'
 'Student, full-time;Not employed, but looking for work;Retired'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time'
 'Student, part-time;Retired'
 'Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Retired'
 'Employed, full-time;Student, full-time;Student, part-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Employed, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time'
 'Independent contractor, freelancer, or self-employed;Student, part-time;Retired'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time'
 'Independent contractor, freelancer, or self-employed;Employed, part-time;Retired'
 'Employed, full-time;Not employed, and not looking for work'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired'
 'Student, full-time;Student, part-time;Employed, part-time'
 'Employed, part-time;Retired'
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired'
 'Employed, full-time;Student, part-time;Employed, part-time'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired'
 'Student, full-time;Student, part-time;Retired'
 'Student, full-time;Not employed, and not looking for work;Employed, part-time'
 'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Not employed, but looking for work;Not employed, and not looking for work;Student, part-time;Employed, part-time'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time'
 'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time'
 'Not employed, and not looking for work;Employed, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time'
 'Employed, full-time;Not employed, but looking for work;Not employed, and not looking for work;Employed, part-time'
 'Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired'
 'Not employed, but looking for work;Student, part-time;Retired'
 'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Retired'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed'
 'Not employed, but looking for work;Not employed, and not looking for work;Student, part-time'
 'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time;Employed, part-time'
 'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time'
 'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time'
 'Student, full-time;Retired'
 'Employed, full-time;Not employed, but looking for work;Student, part-time'
 'Not employed, and not looking for work;Student, part-time;Employed, part-time'
 'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired']

In [73]:
# Since there are other options in main unique values which are separated by ";" 
# that's why we will use "multi-label-one-hot encoding"

# Split multi label employment status
df_expanded = df["Employment"].str.get_dummies(sep=";")

# Concatenate original dataframe with one-hot encoded dataframe
df_final = pd.concat([df, df_expanded], axis=1)

# Print the final dataframe
print(df_final)

       ResponseId                      MainBranch                 Age  \
0               1  I am a developer by profession  Under 18 years old
1               2  I am a developer by profession     35-44 years old
2               3  I am a developer by profession     45-54 years old
3               4           I am learning to code     18-24 years old
4               5  I am a developer by profession     18-24 years old
...           ...                             ...                 ...
65432       65433  I am a developer by profession     18-24 years old
65433       65434  I am a developer by profession     25-34 years old
65434       65435  I am a developer by profession     25-34 years old
65435       65436  I am a developer by profession     18-24 years old
65436       65437     I code primarily as a hobby     18-24 years old

                Employment                            RemoteWork   Check  \
0      Employed, full-time                                Remote  Apples
1      Employed, full-time                                Remote  Apples
2      Employed, full-time                                Remote  Apples
3       Student, full-time                                   NaN  Apples
4       Student, full-time                                   NaN  Apples
...                    ...                                   ...     ...
65432  Employed, full-time                                Remote  Apples
65433  Employed, full-time                                Remote  Apples
65434  Employed, full-time                             In-person  Apples
65435  Employed, full-time  Hybrid (some remote, some in-person)  Apples
65436   Student, full-time                                   NaN  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
3                                                    NaN
4                                                    NaN
...                                                  ...
65432                      Hobby;School or academic work
65433           Hobby;Contribute to open-source projects
65434                                              Hobby
65435  Hobby;Contribute to open-source projects;Profe...
65436                                                NaN

                     EdLevel  \
0             Primary School
1          Bachelor’s Degree
2            Master’s Degree
3      Some Higher Education
4        High School Diploma
...                      ...
65432      Bachelor’s Degree
65433                    NaN
65434      Bachelor’s Degree
65435    High School Diploma
65436                    NaN

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
...                                                  ...
65432  On the job training;School (i.e., University, ...
65433                                                NaN
65434  Other online resources (e.g., videos, blogs, f...
65435  On the job training;Other online resources (e....
65436                                                NaN

                                         LearnCodeOnline  ... JobSat  \
0                                                    NaN  ...    NaN
1      Technical documentation;Blogs;Books;Written Tu...  ...    NaN
2      Technical documentation;Blogs;Books;Written Tu...  ...    NaN
3      Stack Overflow;How-to videos;Interactive tutorial  ...    NaN
4      Technical documentation;Blogs;Written Tutorial...  ...    NaN
...                                                  ...  ...    ...
65432                                                NaN  ...    NaN
65433                                                NaN  ...    NaN
65434  Technical documentation;Stack Overflow;Social ...  ...    NaN
65435  Technical documentation;Blogs;Written Tutorial...  ...    NaN
65436                                                NaN  ...    NaN

      Employed, full-time Employed, part-time I prefer not to say  \
0                       1                   0                   0
1                       1                   0                   0
2                       1                   0                   0
3                       0                   0                   0
4                       0                   0                   0
...                   ...                 ...                 ...
65432                   1                   0                   0
65433                   1                   0                   0
65434                   1                   0                   0
65435                   1                   0                   0
65436                   0                   0                   0

      Independent contractor, freelancer, or self-employed  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
65432                                                  0
65433                                                  0
65434                                                  0
65435                                                  0
65436                                                  0

      Not employed, and not looking for work  \
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0
...                                      ...
65432                                      0
65433                                      0
65434                                      0
65435                                      0
65436                                      0

      Not employed, but looking for work Retired Student, full-time  \
0                                      0       0                  0
1                                      0       0                  0
2                                      0       0                  0
3                                      0       0                  1
4                                      0       0                  1
...                                  ...     ...                ...
65432                                  0       0                  0
65433                                  0       0                  0
65434                                  0       0                  0
65435                                  0       0                  0
65436                                  0       0                  1

      Student, part-time
0                      0
1                      0
2                      0
3                      0
4                      0
...                  ...
65432                  0
65433                  0
65434                  0
65435                  0
65436                  0

[65437 rows x 123 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [76]:
## Write your code here
df_final.isnull().sum().sort_values(ascending=False)

AINextMuch less integrated                64289
AINextLess integrated                     63082
AINextNo change                           52939
AINextMuch more integrated                51999
EmbeddedAdmired                           48704
                                          ...
Not employed, and not looking for work        0
Not employed, but looking for work            0
Retired                                       0
Student, full-time                            0
Student, part-time                            0
Length: 123, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [77]:
## Write your code here
median = df_final["ConvertedCompYearly"].median()
df_final["ConvertedCompYearly"].fillna(median, inplace=True)

C:\Users\Rajveer Kaur\AppData\Local\Temp\ipykernel_14860\3204437424.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final["ConvertedCompYearly"].fillna(median, inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [83]:
## Write your code here
# Find most frequent value
most_freq = df_final["RemoteWork"].value_counts().idxmax()

df_final["RemoteWork"].fillna(most_freq, inplace=True)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [ ]:
## Write your code here
# Calculate min and max values
min_val = df_final["ConvertedCompYearly"].min()
max_val = df_final["ConvertedCompYearly"].max()

# Apply Min-Max Scaling formula
df_final["ConvertedCompYearly"] = (df_final["ConvertedCompYearly"] - min_val) / (max_val - min_val)

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [91]:
## Write your code here
import numpy as np

df_final["ConvertedCompYearly"] = np.log1p(df_final["ConvertedCompYearly"])

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [98]:
## Write your code here
# Replace text values with numerical equivalents
df_final["YearsCodePro"] = df_final["YearsCodePro"].replace({
    "Less than 1 year": 0,
    "More than 50 years": 51
}).astype(float)  # Convert to float to handle NaNs

# Define experience levels
def categorize_experience(years):
    if np.isnan(years):  # Handle missing values
        return "Unknown"
    elif years <= 1:
        return "Beginner"
    elif years <= 5:
        return "Junior"
    elif years <= 10:
        return "Mid-Level"
    elif years <= 20:
        return "Senior"
    else:
        return "Expert"

# Apply function to create a new column
df_final["ExperienceLevel"] = df_final["YearsCodePro"].apply(categorize_experience)

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.